/*PS4 Controller overrides*/
.controller.ds4 {
    background-image: url(https://raw.githubusercontent.com/Pengaloni/gamepad-viewer-skins/main/ps4/graphics/base.svg);
}

.ds4 .trigger {
    background-image: url(https://raw.githubusercontent.com/Pengaloni/gamepad-viewer-skins/main/ps4/graphics/triggers.svg);
}

.ds4 .bumper {
    background-image: url(https://raw.githubusercontent.com/Pengaloni/gamepad-viewer-skins/main/ps4/graphics/bumper.svg);
}

.ds4 .back, .ds4 .start {
    background-image: url(https://raw.githubusercontent.com/Pengaloni/gamepad-viewer-skins/main/ps4/graphics/start.svg);
}

.ds4 .button {
    background-image: url(https://raw.githubusercontent.com/Pengaloni/gamepad-viewer-skins/main/ps4/graphics/face.svg);
}

.ds4 .stick {
    background-image: url(https://raw.githubusercontent.com/Pengaloni/gamepad-viewer-skins/main/ps4/graphics/sticks.svg);
}

.ds4 .face {
    background-image: url(https://raw.githubusercontent.com/Pengaloni/gamepad-viewer-skins/main/ps4/graphics/dpad.svg);
}

.ds4 .meta {
    width: 48px;
    height: 47px;
    position: absolute;
    left: 50%;
    bottom: 231px;
    transform: translateX(-50%);
}

.ds4 .meta.pressed {
    background-image: url(https://raw.githubusercontent.com/Pengaloni/gamepad-viewer-skins/main/ps4/graphics/meta.svg);
}
