/*Xbox One Controller overrides*/
.controller.xbox {
    background-image: url(https://raw.githubusercontent.com/Pengaloni/gamepad-viewer-skins/main/xbox-one/graphics/base.svg);
}

.xbox .back, .xbox .start {
    background-image: url(https://raw.githubusercontent.com/Pengaloni/gamepad-viewer-skins/main/xbox-one/graphics/start-select.svg);
}

.xbox .quadrant {
    background-image: none !important;
}

.xbox .button {
    background-image: url(https://raw.githubusercontent.com/Pengaloni/gamepad-viewer-skins/main/xbox-one/graphics/abxy.svg);
}

.xbox .trigger {
    background-image: url(https://raw.githubusercontent.com/Pengaloni/gamepad-viewer-skins/main/xbox-one/graphics/trigger.svg);
}

.xbox .a {
    left: 59px;
}

.xbox .b {
    right: -4px;
}

.xbox .x {
    left: 7px;
}

.xbox .y {
    left: 58px;
}

.xbox .stick {
    background-image: url(https://raw.githubusercontent.com/Pengaloni/gamepad-viewer-skins/main/xbox-one/graphics/stick.svg);
}

.xbox .face {
    background-image: url(https://raw.githubusercontent.com/Pengaloni/gamepad-viewer-skins/main/xbox-one/graphics/dpad.svg);
}

.xbox .bumper {
    background-image: url(https://raw.githubusercontent.com/Pengaloni/gamepad-viewer-skins/main/xbox-one/graphics/bumper.svg);
}
